.skillSet {
    margin: 80px 0;
    padding: 20px 0;
}


.mainSkillsContainer {
    display: flex;
    justify-content: space-between;

    align-items: center;
    position: relative;
}

.skills {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* .skill{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: max-content;
    border-radius: 50%;
    padding: 5px;
} */

.skill h4 {
    padding: 8px 0 0 0;
}

.skills__word-clouds {
    z-index: -1;
}

.parallax-inner {
    /* transform: translate3d(0%, -316.809px, 0px); */
    background-color: green;
}

.skills__word-clouds p {
    position: absolute;
    color: rgb(199, 208, 255);
    z-index: -1;
    left: 0px;
    right: 0px;
    font-weight: 900;
    user-select: none;
}

.s1 {
    top: 50px;
    left: 100%;
    font-size: 23px;
}

/* Adjust for smaller screens */
@media (max-width: 768px) {
.skillSet {
    margin: 0;
    padding: 0;
}
}