.navbar {
    position: fixed;
    top: 0px;
    display: flex;
    align-items: center;
    height: 60px;
    width: 100vw;
    background-color: rgb(248, 248, 248);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 10px;
    z-index: 1000;
    overflow: hidden;
}

.navbar .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px;
}

.logo img {
    width: 35px;
}

.menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

.linksContainer {
    display: block;
    unicode-bidi: isolate;
}

.linksContainer.open {
    display: block;
}

.navbar .links {
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    transition: all 0.2s ease;
}

ul {
    list-style: none;
    padding: 0;
    font-size: 15px;
    line-height: 150%;
}

.navbar .links li {
    margin-left: 30px;
    display: inline-block;
    text-align: center;
}

.navbar .links li a {
    color: rgb(109, 131, 242);
}

/* Media query for smartphones */
@media (max-width: 767px) {
    .linksContainer {
        position: fixed;
        top: 60px;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgb(248, 248, 248);
        box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px;
        transform: translateX(-100%);
        transition: transform 0.3s ease;
    }

    .linksContainer.open {
        transform: translateX(0);
    }

    .menu-icon {
        display: block;
    }

    .navbar .links {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .navbar .links li {
        margin: 15px 0;
    }
}

/* Media query for tablets and iPads */
@media (min-width: 768px) and (max-width: 1024px) {
    .linksContainer {
        position: fixed;
        top: 60px;
        right: 0;
        height: max-content;
        width: 300px;
        background-color: rgb(248, 248, 248);
        box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px;
        transform: translateX(100%);
        transition: transform 0.3s ease;
    }

    .linksContainer.open {
        transform: translateX(0);
    }

    .menu-icon {
        display: block;
    }

    .navbar .links {
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
    }

    .navbar .links li {
        margin: 15px 0;
    }
}
