

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group textarea {
    resize: vertical;
    height: 100px;
}

.btn {
    padding: 10px 20px;
    background-color: #5d82e8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #5d82e8d6;
}

.direct-email {
    display: block;
    margin-top: 15px;
    color: #007bff;
    text-decoration: none;
}

.direct-email:hover {
    text-decoration: underline;
}



@media (max-width: 768px) {
    .contact-form {
        width: 100%;
    }


}