.contact {
    padding: 50px;
    text-align: center;
}

.section-title {
    font-size: 2em;
    margin-bottom: 20px;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

footer {
    margin-top: 40px;
    font-size: 0.9em;
    color: #666;
}

.heart {
    color: red;
}


@media (max-width: 768px) {
    .contact {
        padding: 20px;
    }

    .contact-container {
        flex-direction: column;
        gap: 20px;
    }

    .contact-form,
    .contact-info {
        width: 100%;
    }

    .info-item {
        align-items: flex-start;
    }
}