
.hero{
    width: 100%;
    height: calc(100vh - 150px);
    background: linear-gradient(to right,  rgb(248, 248, 248) 0%, rgb(248, 248, 248)  60%, #5d82e8 50%, #5d82e8 100%);
}

.hero .inner {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    height: calc(-100px + 80vh);
    margin-bottom: 100px;
}

.homeImage{
    width: 50%;
}


/* Responsive Styles */
@media (max-width: 768px) {
    .hero {
        margin-top: 85px;
        height: auto;
        background: rgb(248, 248, 248);
    }

    .hero .inner {
        flex-direction: column;
        height: auto;
        margin-bottom: 0;
        padding: 20px;
        width: 90%;
    }

    .homeImage {
        width: 100%;
        margin-top: 20px;
    }

    .homeText {
        text-align: center;
    }
}