/* styles.css */
.projects-container {
  padding: 20px;
}

.search-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.project-card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}

.project-card h3 {
  margin-top: 0;
}

.project-details {
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
}

.project-links a {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid rgb(152, 192, 233);
  border-radius: 5px;
  color: #007bff;
  text-decoration: none;
}

.project-links a:hover {
  background-color: rgb(152, 192, 233);
  color: #fff;
}

.filter-buttons button.active {
  background-color: #007bff;
  background-color: rgba(152, 193, 233, 0.594);
  color: #fff;
  /* color:  #1c1c1c; */
}

.filter-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}


.filter-buttons button {
  padding: 10px 20px;
  border: 1px solid #6ba1db;
  border: 1px solid rgba(152, 193, 233, 0.594);;
  border-radius: 5px;
  background-color: #fff;
  color: #007bff;
  cursor: pointer;
}

.filter-buttons button:hover {
  background-color: #007bff;
  background-color: rgba(152, 193, 233, 0.594);
  color: #fff;
}


@media (max-width: 768px) {
  .projects-container {
   /* background-color: red */
  }


}